Repository mercari/spanner-autoscaler, pull requests merged in 2024-01, with the labels that each got.

#132 Add scaleup step size feature
  api/v1beta1/spannerautoscaler_types.go
  api/v1beta1/spannerautoscaler_webhook.go
  api/v1beta1/zz_generated.deepcopy.go
  cmd/main.go
  config/crd/bases/spanner.mercari.com_spannerautoscalers.yaml
  docs/crd-reference.md
  internal/controller/spannerautoscaler_controller.go
  internal/controller/spannerautoscaler_controller_test.go
Labels: size/L

#150 Update to `permissions.contents = write` of create git tag action
  .github/workflows/tag.yml
Labels: size/XS

#151 Fix goreleaser config
  .goreleaser.yml
Labels: size/XS, release/patch, ignore-for-release-notes

#152 Fix CI workflow permissions
  .github/workflows/release.yml
Labels: size/XS, release/minor, ignore-for-release-notes

#153 Exclude dependabot PRs from release-notes
  .github/release.yml
Labels: size/XS, ignore-for-release-notes
